#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ececec);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #f10909fd);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #ffffff;
}
nav{
  display: flex; 
  width: 100vw;
  justify-content: center; 
  align-items: center;
  height: 8vh;
  background-color: rgb(3, 159, 250); & a{color: white;
  font-size: 1.5em; 
  padding: 15px; }
}
  
main{ display: flex;
 width: 100vw;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  height: 70vh;
}
footer{
  display: flex; 
  width: 100vw; 
  justify-content: center;
  align-items: center; 
  height: 5vh;
  background-color: rgb(19, 22, 233);
}
.promo-container {
  display: flex;
  justify-content: center; /* Centraliza os itens horizontalmente */
}

.promo {
  width: 400px; 
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  text-align: center; 
}
.produto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 2px;
  width: 110px;
}

.produto img {
  width: 100%;
  max-width: 100px;
  height: auto;
}